{% extends "layout.html" %}
{% block title %}Kalender{% endblock %}

{% block content %}
<a href="{{ url_for('export_ical') }}" class="button">Exporteer naar iCal</a>

<a href="{{ google_export_url }}" class="button">Exporteer naar Google Calendar</a>

	<section class="content-table">
		<h1>Vakken</h1>
		<ol>
			{% for course in calendar.courses %}
				{% if course.contact_moments %}
					<li><a href="#{{ course.id() }}">{{ course.name }}</a>
				{% endif %}
			{% endfor %}
		</ol>
	</section>

	<section>
	
	{% for course in calendar.courses %}
		{% if course.contact_moments %}
		<article class="course">
			<h1 id="{{ course.id() }}">{{ course.name }}</h1>
			{% for contact in course.contact_moments %}
			<section class="contact_moment">
				<h2>{{ contact.course_part }} - <em>{{ week_day_to_text[contact.week_day] }}</em></h2>
				<p>
					<strong>Tijdstip: </strong>{{ contact.start_hour.strftime('%H:%M') }} -{{ contact.end_hour.strftime('%H:%M') }} <br />
					<strong>Locatie: </strong>{{ contact.location }} <br />
					<strong>Docent:  </strong>{{ contact.docent }}<br />
				</p>

				<ol class="weeklist">
				{% for day in contact.days() %}
					<li>{{ day.strftime('%d/%m/%Y') }}</li>
				{% endfor %}
				</ol>
			</section>
			{% endfor %}
		</article>
		{% endif %}
	{% endfor %}
	</section>

<div style="clear: both;">
<a href="{{ url_for('export_ical') }}" class="button">Exporteer naar iCal</a>

<a href="{{ google_export_url }}" class="button">Exporteer naar Google Calendar</a>
</div>
{% endblock %}
