{% extends "layout.html" %}
{% block title %}Kalender{% endblock %}

{% block content %}
<a href="{{ url_for('export_ical') }}" class="button">Exporteer naar iCal</a>

<a href="{{ google_export_url }}" class="button">Exporteer naar Google Calendar</a>

	<section class="content-table">
		<h1>Vakken</h1>
		<ol>
			{% for course in calendar.courses|sort(attribute='name') %}
				{% if course.contact_moments %}
					<li><a href="#{{ course.id() }}">{{ course.name }}</a>
				{% endif %}
			{% endfor %}
		</ol>
	</section>

	<section>
	
	{% for course in calendar.courses|sort(attribute='name') %}
		{% if course.contact_moments %}
		<article class="course">
			<h1 id="{{ course.id() }}">{{ course.name }}</h1>
			{% for contact in course.contact_moments|sort(attribute='week_day') %}
			<section class="contact_moment">
				<h2>{{ contact.course_part }} <em>{{ week_day_to_text[contact.week_day] }}</em></h2>
				<section>
					<strong>Tijdstip: </strong>{{ contact.start_hour.strftime('%H:%M') }} - {{ contact.end_hour.strftime('%H:%M') }} <br />
					<strong>Locatie: </strong>
						<article class="location">
							{{ contact.location.name }}
							<p class="full_info">
								<strong>Naam: </strong>{{ contact.location.full_name() }}<br />
								{% if contact.location.street %}
									<strong>Straat: </strong>{{ contact.location.street }}<br />
								{% endif %}
								
								{% if contact.location.coords %}
									<small><a href="http://www.openstreetmap.org/?zoom=17&amp;layers=M&amp;mlat={{ contact.location.coords[0] }}&amp;mlon={{ contact.location.coords[1] }}" target="_blank">Op kaart bekijken</a></small>
								{% endif %}
							</p>
						</article>
						<br />
					<strong>Docent:  </strong>{{ contact.docent }}<br />
				</section>

				<ol class="weeklist">
				{% for day in contact.days() %}
					<li>{{ day.strftime('%d/%m/%Y') }}</li>
				{% endfor %}
				</ol>
			</section>
			{% endfor %}
		</article>
		{% endif %}
	{% endfor %}
	</section>

<div style="clear: both;">
<a href="{{ url_for('export_ical') }}" class="button">Exporteer naar iCal</a>

<a href="{{ google_export_url }}" class="button">Exporteer naar Google Calendar</a>
</div>
{% endblock %}
