body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

body > header {
	background-color: #333;
	color: white;

	padding: 0.5em 0.5em;
	margin-bottom: 1em;
}

body > header h1
{	
	margin: 0;
	font-size: 2em;
}

body > footer, #content {
	padding: 0.5em;
}

#content, body > footer > div, body > footer > p {
	max-width: 960px;
}

h1 {
	font-size: 1.5em;
}

footer {
	clear: both;
	font-size: 0.8em;
	
	background-color: #666;
	color: white;
	
	margin-top: 1em;
}

footer .important {
	font-size: 1.4em;
	border-radius: 0.25em;
	border: solid 1px red;
	
	margin: 0.5em 0;
	padding: 0.5em;
	background-color: yellow;
	color: red;
}

footer .important strong {
	font-size: 1.2em;
}

p {
	text-align: justify;
}

a {
	color: inherit;
}

/* Forms */

form p label {
	display: inline-block;
	min-width: 14em;
	text-align: right;
	
	vertical-align: middle;
}

input[type=text],
input[type=email],
input[type=password] {
	border: solid 1px black;
	width: 14em;
	
	font-size: 1.2em;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
	border-color: #999;
}

input[type=submit], a.button {
	border: solid 1px black;
	background-color: #999;
	padding: 0.5em;
	border-radius: 0.25em;
}

input[type=submit]:hover, a.button:hover {
	background-color: #ccc;
}

input[type=submit]:active, a.button:active {
	background-color: #aaa;
}

.flashes {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.flashes li {
	border: solid 1px black;
	margin: 1em 0;
	padding: 0.5em;
	
	max-width: 960px;
}

.flashes li.notice {
	background-color: #999;
	color: black;
}

.flashes li.error {
	background-color: yellow;
	color: black;
}

.option-sep {
	text-align: center;
	max-width: 25em;
	
	font-size: 1.1em;
	font-weight: bold;
}

#content section h1 {
	font-size: 1.2em;
	margin: 0.45em 0;
}

#content section h2 {
	font-size: 1.1em;
	margin: 0.2em 0;
}

.course {
	clear: both;
	margin: 1em 0;
}

.course h1 {
	background-color: #aaa;
	padding: 0.5em;
	border-radius: 0.2em;
}

.contact_moment {
	display: inline;
	margin: 0 2em;
	float: left;
	min-width: 250px;
}
