{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <h1>Inloggen</h1>
  <form action="{{ url_for('login') }}" method="post"> 
    <p>
      <label for="ua_username">UA Gebruikersnaam: </label>
      <input id="ua_username" type="text" name="ua_username" placeholder="s012345" />
    </p>
    
    <p>
      <label for="ua_password">UA Wachtwoord: </label>
      <input id="ua_password" name="ua_password" type="password" placeholder="password" />
    </p>
    
    <input type="submit" value="Kalender opstellen" />
  </form>
{% endblock %}

  
